*{
	box-sizing: border-box;
	margin: 0;
    padding: 0;
    font-family: Century Gothic;
}

.col .s1{
	margin-top: 20px;
}
 
h3{
	color: skyblue;
}

@media (min-width: 992px) {
	.container{
		width: 894px;
		height:600px;
		margin: 0 auto;
		border: 1px solid black;
		margin-top: 20px;
		padding: 10px;
		background-color: yellow;
	}

	.col1{
		border: 1px solid black;
		background-color: grey;
		color: white;
		width: 270px;
		height: 200px;
		margin:10px;
		float: left;
		padding: 10px;
}

	.col2{
		border: 1px solid black;
		background-color: grey;
		color: white;
		width: 270px;
		height: 200px;
		margin:10px;
		float: left;
		padding: 10px;
}

	.col3{
		border: 1px solid black;
		background-color: grey;
		color: white;
		width: 270px;
		height: 200px;
		margin:10px;
		float: left;
		padding: 10px;
}
}
  
@media (min-width: 768px) and (max-width: 991px) {
	.container{
		width: 640px;
		height:600px;
		margin: 0 auto;
		border: 1px solid black;
		margin-top: 20px;
		padding: 10px;
		background-color: yellow;
	}

	.col1{
		border: 1px solid black;
		background-color: grey;
		color: white;
		width: 289px;
		height: 200px;
		margin:10px;
		float: left;
		padding: 10px;
 }

 	.col2{
		border: 1px solid black;
		background-color: grey;
		color: white;
		width: 289px;
		height: 200px;
		margin:10px;
		float: left;
		padding: 10px;
 }

 	.col3{
		border: 1px solid black;
		background-color: grey;
		color: white;
		width: 597px;
		height: 200px;
		margin:10px;
		float: left;
		padding: 10px;
 }
 }

 @media (max-width: 767px){

 .container{
		width: 380px;
		height:600px;
		margin: 0 auto;
		border: 1px solid black;
		margin-top: 20px;
		padding: 10px;
		background-color: yellow;
	} 	

	.col1{
		border: 1px solid black;
		background-color: grey;
		color: white;
		width: 339px;
		height: 171px;
		margin:10px;
		float: left;
		padding: 5px;
 }

 	.col2{
		border: 1px solid black;
		background-color: grey;
		color: white;
		width: 339px;
		height: 171px;
		margin:10px;
		float: left;
		padding: 5px;
 }

 	.col3{
		border: 1px solid black;
		background-color: grey;
		color: white;
		width: 339px;
		height: 171px;
		margin:10px;
		float: left;
		padding: 5px;
 }
 }